@charset"utf-8";



.container, main, header, footer{
    width: auto;
}

@media(max-width:1280px){
    .container, main, header, footer{
        width: auto;
        margin: 0 auto;
    }
    }

@media(max-width:960px){
    .container, main, header, footer{
        width: auto;
        margin: 0 auto;}
    }
    

header{
   line-height: 65px;
    background-color: #336666;
    height: 65px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
}

.blank{
    padding-top:50px; 
    background:none;
}

.container a{
    padding-right:25px;
    padding-left: 25px;
    display: inline-block;  
    color: #EEEEEE;
    text-align: center;
    font-size: 20px;
    
}

.contents{
    text-align:center;
    padding-top:50px;
}
    

ul{
    list-style-type: none;
    padding:0;
    margin: 0;
}

#prev,
#next{
    width: 60px;
}

nav li{
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 12px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

nav li :hover{
    background-color: #f8f8f8; 
}

.thumbnails{
    display: grid;
    gap:5px;
    grid-template-columns: repeat(5, 56px);
}

.thumbnails li{
    cursor: pointer;
    opacity: 0.5;
}

.thumbnails li:hover{
    opacity: 1;
}

img{
    
    vertical-align: bottom;
}

#main{
    width: auto;
    height:auto;
    margin-bottom: 8px;
    display: inline-block;
    margin: 0 auto;
    padding-top:50px;
}

nav{
    margin-bottom: 8px
}

nav ul{
    display: flex;
    justify-content: space-between;
}

.thumbnails img{
    width: 56px;
}

.container a:hover{
    transition: 0.8s;
    background-color: #2F4F4F;
}

.place_intro img{
    border-radius: 100%;
    height: 300px;
    width: 300px;
}

.place_intro a:hover{
    opacity: 0.8;
    transition: 0.8s;
}

.place_intro{
    float: left;
    width: 50%;
    text-align: center;
}

.name{
    width: 80%;
    display: inline-block;
    text-align: center;
    line-height: 1.5;
}

.main h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}

footer{
    clear: both;
    background-color: #336666;
    line-height: 5;
    text-align: right;
    padding-right: 20px;
    color: #EEEEEE;
}


/*ABOUTUS*/
.propic{
   height: 200px;
   width: 300px;
   border-radius: 20%;
   margin-right: 200px;
   margin-bottom: 50px;
}

.introduction{
    padding-top: 50px;
    text-align: center;
}

table{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/*CAMERA*/
.cameraintro{
    margin: 30px auto;
    width: 600px;
    text-align: center;
    padding-top: 50px;
}

.campic{
    width: 500px;
}

.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
    text-align: center;
    float: left;
}

.menu li a{
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 8px 0;
    color: #2E4053;
    text-decoration: none;
    border-radius: 8px 8px 0 0;
}

.menu li a.active{
    background: #03A891;
    color: #F1F1F1;
}

.menu li a:not(.active):hover{
    transition: 0.5s;
    opacity: 0.5;
}

.details.active {
    display: block;
}

.details{
    display: none;
}

/*CITY*/
.city img{
    width: 500px;
    border-radius: 4px;
}

.city{
    text-align: center;
    padding-top: 50px;
}

.city:hover{
    opacity: 0.7;
    transition: 0.4s;
    cursor: pointer;
}

/*HONGKONG.Osaka.Taiwan.Kyoto*/

.photo h2{
    padding-top: 50px;
    text-align: center;
}

.photo img{
    width: 500px;
}

.photo ul{
    flex-wrap: wrap;
    display: flex;
}

.photo li{
    flex: auto;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.backtocity{
    color: black;
    display: inline-block;
    background: #D6F3C2;
}
